In [37]:
# Importing libraries
import pandas as pd
import pymongo
import getpass
import json

In [38]:
# Making client for pymongo (connection to server)
user = input("Username [%s]: " % getpass.getuser())
password = getpass.getpass(prompt='Password')
client = pymongo.MongoClient(f"mongodb+srv://{user}:{password}@cluster0.xinvi.mongodb.net/test")

Username [pasca]: Pascal
Password········

In [39]:
# Defining new database
airbnb_db = client['airbnb_clean']

In [60]:
# Defining new collection for airbnb_db. 
airbnb_collection = airbnb_db['airbnb_clean']

In [61]:
# Make dataframe from Collection
df = pd.DataFrame(list(airbnb_collection.find()))
df.head()

,_id,id,host_response_rate,host_acceptance_rate,host_picture_url,latitude,longtitude,property_type,room_type,accomodates,...,pool,hair_dryer,gym,wheelchair_accessible,iron,shampoo,hangers,first_aid_kit,elevator,comments
0,60f1a2f1bc9dc8e90a6f1e08,7694559,100,91,https://a0.muscache.com/im/users/22348222/prof...,42.3451341,-71.07513462,Apartment,Entire home/apt,2,...,0,0,0,0,0,0,0,0,0,NaN
1,60f1a2f1bc9dc8e90a6f1df9,13215952,80,90,https://a0.muscache.com/im/users/19798741/prof...,42.30992056,-71.11072692,Apartment,Private room,2,...,0,0,0,0,0,1,1,0,0,NaN
2,60f1a2f1bc9dc8e90a6f1e03,13711334,100,91,https://a2.muscache.com/im/users/32532791/prof...,42.35150365,-71.08710415,Apartment,Entire home/apt,5,...,0,1,0,0,1,0,1,0,0,Spacious well equipped apartment in good area ...
3,60f1a2f1bc9dc8e90a6f1e0d,9723217,100,33,https://a2.muscache.com/im/pictures/e49e4396-0...,42.35540779,-71.13875387,House,Private room,1,...,0,1,0,0,1,1,1,0,0,"Everything was great, maybe watch out for the ..."
4,60f1a2f1bc9dc8e90a6f1e13,14672735,0,0,https://a2.muscache.com/im/pictures/20b165e7-a...,42.31978117,-71.10467022,Apartment,Private room,1,...,0,0,0,0,0,0,1,0,0,NaN

In [70]:
# drop columns not needed for mapping
df2 = df[["id", "latitude", "longtitude", "property_type", "room_type",
          "accomodates", "bathrooms", "bedrooms", "price", "security_deposit", "cleaning_fee"]]
df2.head()

,id,latitude,longtitude,property_type,room_type,accomodates,bathrooms,bedrooms,price,security_deposit,cleaning_fee
0,7694559,42.3451341,-71.07513462,Apartment,Entire home/apt,2,1,0,150,0,225
1,13215952,42.30992056,-71.11072692,Apartment,Private room,2,1,1,69,0,20
2,13711334,42.35150365,-71.08710415,Apartment,Entire home/apt,5,1,1,225,0,25
3,9723217,42.35540779,-71.13875387,House,Private room,1,1.5,1,45,0,50
4,14672735,42.31978117,-71.10467022,Apartment,Private room,1,1,1,65,0,0

In [73]:
# export the data to json file
df2.to_json('static/data/listing.json', orient='table')